<div clas="row">
  <%= form_for(@task, class: "col s12") do |f| %>
    <div class="row">
      <div class="input-field col s2">
        <%= f.label :text, "Criar nova tarefa" %>
        <%= f.text_field :text %>
      </div>
      
      <div class="input-field col s2">
        <%= f.submit "+", class: "btn" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% if @current_task then %>
    <ul class="collection">
      <li class="collection-item active">
        <p>
        <%= @current_task.text %>
        </p>
        <%= button_to "Parar", task_path(id: @current_task.id, task: { current: false }), { class: "btn white black-text" , method: "put" }%>
      </li>
    </ul>
  <% end %>
</div>
<div class="row">
  <ul class="collection">
    <% @tasks.each do |task| %>
      <li class="collection-item" style="margin: 10px auto;">
        <h4><%= task.text %></h4>
        <hr>
        <p>
        <%= task.activities.count %> atividades<br>
        <%= activity_time_for_task(task.id) %><br>
          <% if last_activity = task.activities.last %>
            Última atividade finalizada em <%= last_activity.finished_at.strftime("%d/%m/%Y às %H:%M") %>
          <% end %>
        </p>
        <%= button_to "Começar", task_activities_path(task), class: "btn" %>
      </li>
    <% end %>
  </ul>
</div>
