<div clas="row">
  <%= form_for(@task, class: "col s12") do |f| %>
    <div class="row">
      <div class="input-field col s2">
        <%= f.label :text, "Criar nova tarefa" %>
        <%= f.text_field :text %>
      </div>
      
      <div class="input-field col s2">
        <%= f.submit "+", class: "btn" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% if @current_task then %>
    <ul class="collection">
      <li class="collection-item active"><%= @current_task.text %> (<%= time_ago_in_words(@current_task.created_at) %>)
        <%= button_to "Parar", task_path(id: @current_task.id, task: { current: false }), { class: "btn" , method: "put" }%>
      </li>
    </ul>
  <% end %>
</div>
<div class="row">
  <ul class="collection">
    <% @tasks.each do |task| %>
      <li class="collection-item"><%= task.text %> (<%= time_ago_in_words(task.created_at) %>)
        <%= button_to "Começar", task_activities_path(task), class: "btn" %>
      </li>
    <% end %>
  </ul>
</div>
