<div clas="row">
  <%= form_for(@task, class: "col s12") do |f| %>
    <div class="row">
      <div class="input-field col s8 m4">
        <%= f.label :text, "Criar nova tarefa" %>
        <%= f.text_field :text %>
      </div>

      <div class="input-field col s2">
        <%= f.submit "+", class: "btn" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col s1">
    filtar tarefas:
  </div>
  <div class="col s1">
    <a href="/tasks"><span class="new badge purple" data-badge-caption="todas"></span></a>
  </div>
  <div class="col s1">
    <a href="/tasks?yesterday=true"><span class="new badge teal" data-badge-caption="de ontem"></span></a>
  </div>
</div>

<script>
$(document).on('turbolinks:load', function() {
  toggle_task_details_for = function(task_id) {
    var selector = '#task_details_' + task_id;
    var target_display = ($(selector).css('display') === "none" ? "block" : "none");
    $(selector).css('display', target_display);
  };
});
</script>

<div class="row">
  <% if @current_task then %>
    <ul class="collection">
      <li class="collection-item active">
        <p>
        <%= @current_task.text %>
        </p>
        <%= button_to "Parar", task_path(id: @current_task.id, task: { current: false }), { class: "btn white black-text" , method: "put" }%>
      </li>
    </ul>
  <% end %>
</div>
<div class="row">
  <ul class="collection">
    <% @tasks.each do |task| %>
      <li class="collection-item" style="margin: 10px auto;">
        <div class="row">
          <div class="col s8">
            <span onclick="toggle_task_details_for(<%= task.id %>)" class="task_text"><%= task.text %></span>
          </div>
        </div>
        <div class="task_details" id="task_details_<%= task.id %>">
          <hr>
          <%= task.activities.count %> atividades<br>
          <%= activity_time_for_task(task.id) %><br>
          <% if last_activity = task.activities.last %>
            Última atividade finalizada em <%= last_activity.finished_at.strftime("%d/%m/%Y às %H:%M") %>
        <% end %>
        </div>
        <%= button_to "Começar", task_activities_path(task), class: "btn" %>
      </li>
    <% end %>
  </ul>
</div>
