<%= form_with(model: remark, local: true) do |form| %>
  <% if remark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(remark.errors.count, "error") %> prohibited this remark from being saved:</h2>

      <ul>
      <% remark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :references %>
    <%= form.text_field :references, id: :remark_references %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :remark_user_id %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :remark_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
