<!DOCTYPE html>
<html>
  <head>
    <title>Singularity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
        <div class="container">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">singularity</a>
          </div>
          <% if current_user.present? then %>
            <ul class="right">
              <%= button_to "Sair", session_path, method: :delete, class: "btn" %>
            </ul>
          <% end %>
        </div>
      </nav>

      <div class="container main-container">
        <%= yield %>
      </div>
  </body>
</html>
