<!DOCTYPE html>
<html>
  <head>
    <title>Singularity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <div class="left">
            <a href="/" class="brand-logo">singularity</a>
          </div>
          <% if current_user.present? then %>

            <div class="right">
              <ul>
                <li>
                  <a href="/#" class="dropdown-button" data-activates='nav-dropdown' data-beloworigin="true" data-constrainwidth="false" data-turbolinks="false">
                    <i class="material-icons">system_update_alt</i>
                  </a>
                </li>
                <li>
                  <%= link_to session_path, method: :delete do %>
                    <i class="material-icons">highlight_off</i>
                  <% end %>
                </li>
              </ul>
            </div>
        </div>
        <% end %>
      </div>
    </nav>

    <ul id="nav-dropdown" class="dropdown-content" data-turbolinks="false">
      <li><%= link_to "dashboard", dashboard_path %></li>
      <li><%= link_to "tarefas", tasks_path %></li>
      <li><%= link_to "organizar raid", raids_path %></li>
    </ul>

    <div class="container main-container">
      <%= yield %>
    </div>
  </body>
</html>
